.secao-skills{
  background-color: var(--bg-cinza);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
}
.skills{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
