.topo__nome--titulo{
  color: var(--texto);
  font-weight: bold;
  font-size: 1.3em;
}
.topo__nome--titulo::before{
  content: "";
  margin-right: .1rem;
  display: inline-block;
  background: url(../../imagens/estrelas.svg) center;
  width: 25px;
  height: 25px;
}
