header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;

  background-color: var(--bg-cinza);
}
.topo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}