.formulario__label{
  display: flex;
  flex-direction: column;
  color: var(--texto);
}
.formulario__label--span{
  font-size: .9rem;
  padding: .5rem 0 0 .5rem;
}
.formulario__label:focus-within{
  color: var(--azul);
}

.formulario__mensagem-erro{
  background: var(--bg-azul);
  color: red;
  font-size: .8rem;
}