.experiencia{
  margin-bottom: 2.5rem;
}
@media screen and (width >= 1440px){
  .experiencia{
    display: flex;
    gap: 20px;
    align-items: center;
    
}
  .experiencia:nth-child(2n+1){
    flex-flow: row-reverse;
  }
  .experiencia__conteudo{
    width: 35%;
  }
}