.experiencia__imagem{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-branco);

  margin-bottom: 0.75rem;
}

@media screen and (width >= 768px) {
  .experiencia__imagem{
    height: 250px;
  }
}
@media screen and (width >= 1440px) {
  .experiencia__imagem{
    height: 300px;
    width: 70%;
  }
}