.formacao__imagem{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-branco);

  margin-bottom: 0.75rem;
}

.formacao__imagem img{
  width: 50%;
}

@media screen and (width >=768px) {
  .formacao__imagem img{
    width: 75%;
  }
}
@media screen and (width >= 1440px) {
  .formacao__imagem{
    height: 300px;
  }
}