.secao-formacoes{
  background-color: var(--bg-azul);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
}

@media screen and (width >= 768px) {
  .formacoes{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
}
@media screen and (width >= 1440px) {
  .formacoes{
    display: flex;
    flex-wrap: wrap;
  }
}